

body{

    margin: auto;
    overflow-x: hidden;
}
p{
    margin: 0;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}


.flex{
    display: flex;
}
.flex-column{
    flex-direction: column;
}
.flex-c-c{
    align-items: center;
    justify-content: center;
}

.container{
    width: 100%;
}
@media screen and (min-width: 1400px){
    .container{
        max-width: 1300px;

    }
}

@media screen and (min-width: 1080px) and (max-width:1399px){
    .container{
        max-width: 1000px;

    }
}
@media screen and (min-width: 769px) and (max-width:1079px){
    .container{
        max-width: 700px;

    }
}
@media screen and (max-width:768px){
    .container{

    }
}
