.view-jobs{
    position: relative;
}
.view-jobs-title{
    color:var(--white-1);
}
.view-jobs-container{
    display: flex;

    height: 340px;
    margin: 60px 0;

}

.view-jobs-container-name-specialty{
    display: flex;

    justify-content: center;
    align-items: center;

    flex-grow: 1;
    background-color: var(--white-1);

    box-shadow: 1px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0 20px 20px 0;
}
.view-jobs-container-name-specialty>div{
    display: flex;
    flex-direction: column;


    width: 100%;
    max-width: 343px;

    height: 100%;
    max-height: 200px;
}
.view-jobs-container-name-specialty ._title{
    font-weight: 600;
    font-size: 20px;
    line-height: 130.69%;
}

.view-jobs-container-img-symbol{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    padding: 0 50px;
}

.view-jobs-container-text-skills{
    display: flex;
    flex-grow: 1;
}
.view-jobs-container-text-skills>._card{
    display: flex;
    flex-direction: column;


    padding: 0 66px;

    width: 300px;
    background: #281DAD;
    box-shadow: 1px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
.view-jobs-container-text-skills>._card>p{
    color:var(--white-1);

    font-size: 14px;
    line-height: 130.69%;

    margin: 4px 0 0 0;
}
.view-jobs-container-text-skills>._card>._title{
    color:var(--white-1);
    font-weight: bold;
    font-size: 20px;
    line-height: 130.69%;
    margin-top: 30px;

}
