.view-process{
    height: var(--height-view-process);
}
.view-process-title{
    color:var(--white-1)
}


.view-process-img{
    position: absolute;
    left: 0;
    top:0;
    bottom: 0;

    margin: auto;
}
.view-process-text{
    justify-content: center;

    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    max-width: 440px;
}

.view-process-text-elem{
    display: flex;
    flex-direction: column;



}

.view-process-text-elem>._title{
    margin-top: 30px;

    letter-spacing: 0.05em;
    font-weight: bold;
    font-size: 23px;
    line-height: 26px;

    color: var(--white-1);
}

.view-process-text-elem>._text{
    font-weight: normal;
    font-size:16px;
    letter-spacing: 0.05em;

    line-height: 27px;

    color:var(--white-1);
}