.view-main{
    height: var(--height-view-main);
    width: 100%;

}

.app-header{
    justify-content: space-between;
    align-items: center;

    height: 72px;


}
.app-header>ul{
    list-style: none;
}
.app-header>ul>li{
    padding: 1em;
}
.app-header>ul>li>a{
    color: var(--white-1);
    cursor: pointer;

    transition: color var(--fast);
}
.app-header>ul>li>a:hover{
    color:var(--white-3);
}

.app-header-languages>._symbol{
    color:var(--white-3);
}
.app-header-languages>*{
    font-size: 18px;
    line-height: 129.69%;

    cursor: pointer;
}
.app-header-languages>._lang{
    color:var(--white-1);

    transition: color var(--fast);
}
.app-header-languages>._lang:hover{
    color:var(--white-3);
}

.view-main-content{

    height: calc(100% - 72px);
}
.view-main-content-title{
    position: absolute;

    font-weight: bold;
    font-size: 140px;
    line-height: 90%;
    color: rgb(221,135,62);
    background: linear-gradient(90deg, rgb(221,135,62) 33%, rgb(155,62, 127) 66%);
    -webkit-text-fill-color: transparent;

    -webkit-background-clip: text;
}

.view-main-content-img{
    position: absolute;
    right: 0;
    top:0;
    bottom: 0;

    margin: auto;
}

@keyframes move-mouse-down {
    from{
        transform: translateY(-10px);
    }
    to{
        transform: translateY(10px);
    }
}

.view-main-content-scroll-down{
    position: absolute;

    bottom: 25px;
    left: 0;
    right: 0;

    margin: auto;


    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-name: move-mouse-down;
    animation-duration: 3s;

    transition: var(--extra-slow);
}