.view-contacts{
    height: var(--height-view-contacts);
}

.view-contacts-title{
    color:var(--black-1);
}

.view-contacts-container{



    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    padding: 25px;

    width: 600px;
    height: 360px;

    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
}
.view-contacts-container>._title{
    font-weight: bold;
    font-size: 30px;
    line-height: 86px;
}
.view-contacts-container>._text{
    font-weight: normal;
    font-size: 20px;
    line-height: 130.69%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
}
.view-contacts-container>._img{
    bottom: 15px;
}