.view-about{
    padding-top: 50px;

    overflow: hidden;

    position: relative;
}
.view-about-container{
    padding-top: 46px;

    display: flex;
    flex-direction: row;

    align-items: center;
}

.view-about-container-text>p{
    color:var(--white-1)
}
.view-about-container-text>._title{
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;

    letter-spacing: 0.05em;
}
.view-about-container-image{
    position: relative;
}
.view-about-container-text>._text{
    font-weight: 300;
}
.view-about-title{
    color: #FFFFFF;
}

@media screen and (max-width: 768px){
    .view-about{
        height: 100vh;
    }
    .view-about-container{
        flex-direction: column;
    }
    .view-about-container-text{
        padding: 0 90px 0 30px;
        position: relative;
        z-index: 100;
        font-size: 18px;
        line-height: 130%;

        font-weight: 400;

    }
    .view-about-container-text>._title{
        font-size: 18px;
        line-height: 130%;
    }
    .view-about-container-image{
        position: absolute;
        bottom: 0;

        transform: scaleX(-1);
    }

}