.view-job{
    position: relative;
    padding-top: 111px;
    z-index: 10;
}
.view-job-title{

    margin-bottom: 214px;

    color: #FFFFFF;
}
.view-job-container{
    position: relative;

    display: flex;
    justify-content: space-between;

    height: 330px;
}
.view-job-container>.app-container{
    display: flex;
    justify-content: space-between;
}
.view-jobs-container-card{
    position: relative;
    z-index: 4;

    width: 50%;
    padding-right: 124px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.view-jobs-container-card>._title{
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
}
.view-jobs-container-card>._text{
    font-size: 15px;
}
.view-jobs-container-background{
    position:absolute;

    background-color: white;
    box-shadow: 1px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0 20px 20px 0;

    left: 0;
    z-index: 0;
    width: 50vw;
    height: 100%;
}
.view-jobs-container-illustration{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: calc(100% - 51px);

    width: 220px;

    transform: scaleX(-1);
}
.vie-jobs-container-separator{
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: center;
}
.vie-jobs-container-separator>div{

    align-items: center;
    display: flex;

    justify-content: space-between;

    margin-top: 13px;

    width: 50px;
    height: 10px;
}
.vie-jobs-container-separator>div>span{
    border-radius: 50%;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.vie-jobs-container-separator>div>.s:nth-child(1){
    background-color: #DCEEFB;
}
.vie-jobs-container-separator>div>.s{

    background-color: white;
    height: 7px;
    width: 7px;
}
.vie-jobs-container-separator>div>.l{
    height: 10px;
    width: 10px;

    border: 3px solid white;
}


.vie-jobs-container-skills{
    height: 100%;
    width: 300px;

    padding: 0 0 0 66px;

    background: #281DAD;
    box-shadow: 1px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
.vie-jobs-container-skills>p{
    color:var(--white-1);

    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.1em;
    font-weight: 300;
}
.vie-jobs-container-skills>._title{
    color:var(--white-1);
    font-weight: bold;
    font-size: 20px;

    margin-top: 20px;

}
.vie-jobs-container-skills>._title{
    margin-top: 25px;
}


@media screen and (max-width: 768px){
    .view-job{
        z-index: 2;


        padding: 160px 0 10px 0;

        background-color: #ff9900;
    }



    .view-job-title{
        margin-bottom: 40px;
    }
    .view-job-container{
        height: auto;
        flex-direction: column;
    }
    .view-job-container>.app-container{
        display: block;
    }
    .view-jobs-container-background{
        width: calc(100% - 15px);
        height: 340px;
    }
    .view-jobs-container-card{
        height: 340px;
        width: calc(100% - 15px);
        padding: 28px 15px 12px 30px;
    }
    .view-jobs-container-card>p{
        font-size: 18px;
        line-height: 23px;

        letter-spacing: 0.05em;
    }

    .vie-jobs-container-separator{
        flex-direction: row;

        padding: 40px 0;
    }

    .vie-jobs-container-separator>div{
        flex-direction: column;

        justify-content: space-between;

        margin-left: 13px;

        width: 10px;
        height: 50px;
    }
    .vie-jobs-container-separator>div>span{
        border-radius: 50%;

        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .vie-jobs-container-separator>div>.s:nth-child(1){
        background-color: #202529;
    }
    .vie-jobs-container-separator>div>.s{

        background-color: #202529;
        height: 7px;
        width: 7px;
    }
    .vie-jobs-container-separator>div>.l{
        height: 10px;
        width: 10px;

        border: 3px solid  #202529;;
    }

    .view-job-title{
        color:black;
    }
    .view-jobs-container-illustration{
        width: 109px;
        bottom: 352px;
        z-index: 123;

        left: 31px;
        right: auto;
    }
    .vie-jobs-container-skills{
        position: relative;
        width: calc(100% - 15px);
        height: 379px;

        text-align: center;

        padding: 19px 15px 15px 31px;

        background: linear-gradient(278.67deg, #0024A5 -36.79%, #321BB0 -36.79%, #0124A5 -1.01%, #5B13B9 39.31%, #BF00CF 75.9%);
        box-shadow: 1px 10px 4px rgba(0, 0, 0, 0.25);

        border-radius: 0 20px 20px 0;
    }
    .vie-jobs-container-skills>p{
        font-size: 18px;
        line-height: 29px
    }
    .vie-jobs-container-skills>._title:first-child{
       margin-top: 0;
    }

}
