.app-bottom {
    z-index: 123;
    position: relative;
    height: 64px;
    width: 100%;

    background-color: var(--black-1);

}

.app-bottom-container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app-bottom-container>._text{
    color:var(--white-1);
    font-size: 14px;
    line-height: 130.69%;
}

.app-bottom-container{
    position: relative;
}
.app-bottom-container ._design{
    align-items: center;

    position: relative;
    display: flex;
}
.app-bottom-container ._design-text{
    font-family: 'Fahkwang' ;

    color:var(--white-1);
    font-size: 13px;
    line-height: 130.69%;

    font-weight: 300;

    margin-right: 7px;
}
.app-bottom-container a{
    position: absolute;
    top:0;
    left: 0;

    height: 100%;
    width: 100%;

}


@media screen and (max-width: 768px) {
    .app-bottom{
        height: 67px;
    }
    .app-bottom-container{
        flex-direction: column;
        justify-content: center;
    }
    .app-bottom-container>._text{
        color:var(--white-1);
        font-size: 10px;
        line-height: 18px;

        margin-bottom: 9px;
    }
    .app-bottom-container ._design-text{
        display: none;
    }
    .app-bottom-container img{
        height: 23px;
        width: auto;
    }
}