.test-main{
    position: relative;
    width: 100%;
}

.app-container{
    position: relative;

    width: 940px;
    margin: auto;
}



.app-container-lines{
    display: flex;
    justify-content: space-between;

    position: absolute;

    width: 100%;
    height: 100%;
}
.app-container-lines>div{
    height: 100%;
    width: 1px;

    background-color: white;
    opacity: 0.0812;
}

.app-wrap{
    position: relative;

    width: 940px;
    margin: auto;
}